.cart {
	display: grid;
	//gap: 15px;
	align-content: start;
	position: fixed;
	top: calc(0% + $headerHeightPC);
	@media (max-width:$tablet){
		top: $headerHeightTablet;
	}
	@media (max-width:$mobileSmall){
		top: $headerHeightMobileSmall;
	}
	transition: all 0.2s ease 0s;
	right: -100%;
	width: 320px;
	height: calc(100vh - $headerHeightPC);
	@media (max-width:$tablet){
		height: calc(100vh - $headerHeightTablet)
	}
	@media (max-width:$mobileSmall){
		height: calc(100vh - $headerHeightMobileSmall)
	};
	z-index: 5 ;
	background: rgb(255, 255, 255);
	padding:  0 0 0px;
	border-left: 1px solid black;
	border-top: 1px solid black;
	.cart-open & {
		right: 0%;
	}
	// .cart__title
	&__title {
		font-size: rem(25);
		align-self: start;
		text-align: center;
		border-bottom: 1px solid black;
		padding: 10px 10px;
	}
	// .cart__label
	&__label {
		font-size: 25px;
		padding: 25px 10px;
	}
	// .cart__wrapper
	&__wrapper {
		padding: 0 10px;
		overflow: auto;
		display: grid;
		gap: 10px;
	}
	// .cart__total
	&__total {
		align-self: end;
	}
}
.item-cart {
	display: flex;
	gap: 10px;
	position: relative;
	&__remove {
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		z-index: 50;
		color: #fff;
		cursor: pointer;
		background: rgba(0, 0, 0, 0.52);
	}
	// .item-cart__img
	&__img {
		width: 110px;
		height: 160px;
	}
	// .item-cart__info
	&__info {
		display: grid;
		gap: 10px;
		align-self: start;
		font-size: rem(18);
	}
	// .item-cart__name
	&__name {}
	// .item-cart__price
	&__price {}
	// .item-cart__size
	&__size {}
	// .item-cart__quantity
	&__quantity {
		.quantity__button {
			padding: 5px 0;
		}
	}
}
.item-cart-ibg {
	padding-bottom: 100px;
}
.quantity {
	// .quantity__title
	&__title {
		padding-bottom: 5px;
	}
	// .quantity__counter
	&__counter {
	}
	// .quantity__button
	&__button {
		padding: 0px;
		// .quantity__button_minus
		&_minus {}
		// .quantity__button_plus
		&_plus {}
	}
	// .quantity__value
	&__value {}
}
.total-cart {
	display: grid;
	gap: 15px;
	justify-items: start;
	//border-top: 1px solid black;
	padding: 10px 10px;
	// .total-cart__total
	&__total {
		display: flex;
	}
	// .total-cart__price
	&__price {}
	// .total-cart__order
	&__order {}
}
.uah {
}
.none {
	display: none;
}
//========================================================================================================================================================
.order {
	margin: 30px 0;
	// .order__container
	&__container {
		//padding: 30px 0;
		display: grid;
		gap: 30px;
	}
	// .order__button
	&__button {
		// .order__button_back
		&_back {
			justify-self: center;	
			align-self: start;
			display: flex;
			flex-direction: row-reverse;
			gap: 10px;
			&:before {
				transform: rotate(-180deg);
				padding: 0;
				margin: 0;
			}
		}
		&_back-left {
			justify-self: start;	
		}
	}
	// .order__title
	&__title {}
	// order__subtitle 
	&__subtitle {
		font-size: 12px;
		opacity: 0.5;
	}
	// .order__form
	&__form {
	}
	// .order__body
	&__body {
		display: grid;
		gap: 15px;
		@media (min-width:$mobile){
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.order__info {
		display: grid;
		align-self: start;
		gap: 15px;
		padding: 0px 30px 30px 0px; 
		&:last-of-type {
			border-left: 1px solid black;
			padding-left: 15px;
		}
	}
	// .order__group
	&__group {
		display: grid;
		gap: 10px;
	}
	// .order__label
	&__label {
		font-size: 18px;
	}
	// .order__input
	&__input {
		width: 300px;
		font-size: 18px;
		padding-left: 5px;
		border: 1px solid transparent;
		border-bottom: 1px solid black;
		&._form-error {
			outline: 1px solid red;
		}
	}
	// .order__items
	&__items {
		display: grid;
		gap: 10px;
		align-self: start;
		justify-content: start;
		border: 1px solid black;
		padding: 10px;
	}
	// .order__total
	&__total {
		line-height: 200%;
		margin-bottom: 25px;
	}
	&__empty {
		align-items: center;
		display: grid;
		height: 50vh;
		gap: 30px;
	}	
}
.form__error {
	color: rgb(195, 33, 33);
	font-size: 14px;
	margin-top: -5px;
}
