.mainslider {
	background: linear-gradient(2100deg, rgba(212,212,212,1) 10%, rgba(0,0,0,0.4360337885154062) 90%);
	// background: #ebebeb;;
	// .mainslider__slider
	&__slider {}
	// .mainslider__swiper
	&__swiper {
		//overflow: visible;
	}
	// .mainslider__slide
	&__slide {}
}
.mainslider-ibg {
	padding-bottom: calc(100vh - 70px);
	@media (max-width:$tablet){
		padding-bottom: calc(100vh - 60px);
	}
	@media (max-width:$mobileSmall){
		padding-bottom: calc(100vh - 50px);
	}
}
