
.product {
	
	// .product__container
	&__container {
		@media (max-width:$tablet){
			margin-left: -15px; 
			margin-right: -15px; 
			}
	}
	// .product__name
	&__name {
		padding-bottom: 30px;
		@media (max-width:$tablet){
			padding-bottom: 30px;
		}
	}
	// .product__content
	&__content {
		@media (min-width:$tablet){
			display: flex;
		}
		
	}
	// .product__slider
	&__slider {
		--swiper-theme-color: rgb(130, 130, 130);
		position: relative;
		@media (min-width:$tablet){
			flex:  0 0 45%; 
			align-self: start;
		}
		
	}
	// .product__swiper
	&__swiper {
		
	}
	// .product__slide
	&__slide {
		
	}
	// .product-ibg
	&-ibg {
		
		padding-bottom: calc(100vh - $headerHeightPC);
		@media (max-width:$tablet){
			padding-bottom: calc(100vh - $headerHeightTablet  - 112px);
		}
		@media (max-width:$mobileSmall){
			padding-bottom: calc(100vh - $headerHeightMobileSmall - 112px); 
		}
		
		object-position: 100% 0%;
	}
	.swiper-scrollbar {
		
	}
	// .product__info
	&__info {
		display: grid;
		align-content: start;
		justify-items: start;
		row-gap: 30px;
		@media (min-width:$tablet){
			flex:  1 1 55%; 
			padding: 0 0 0 40px;
		}
		@media (max-width:$tablet){
			margin-left: 15px; 
			margin-right: 15px;
			row-gap: 15px; 
			}
	}
	&__name {
		padding: 30px 0 0;
		@media (max-width:$tablet){
			padding: 15px 0 0;

		}
	}
	// .product__price
	&__price {
		
	}
	// .product__color
	&__color {}
	// .product__size
	&__size {}
	// .product__add-to-cart
	&__add-to-cart {
		display: grid;
		grid-template-columns: repeat(2, auto);
		align-content: end;
		justify-content: space-between;
		gap: 30px;
		@media (max-width:$mobileSmall){
			flex-direction: column; 
		}
	}
	// .product__quantity
	&__quantity {
		.quantity__button {
			padding: 10px 0;
		}
	}
	// .product__cart-button
	&__cart-button {
		position: relative;
		top: 25px;
		display: flex;
		align-self: flex-end;
	}

	// .product__description
	&__description {
		padding-top: 15px;
		font-size: rem(18);
		@include adaptiveValue("font-size", 18, 16);
		display: grid;
		gap: 10px;
		line-height: 1.4;
		@media (max-width:$mobile){
			line-height: 1.3;
			//padding-top: 5px;

		}
	}
	// .product__buttons
	&__buttons {
		display: flex;
		gap: 15px;
		@media (max-width:$mobileSmall){
			flex-direction: column; 
		}
	}
	// .product__button
	&__button {}
}
.price-product {
	display: flex;
	justify-self: start;
	border: 1px solid black;
	background: #000;
	color: #fff;
	padding: 10px;
	//font-size: rem(30);
	@include adaptiveValue("font-size", 30, 20);
	font-weight: 300;

	// .price-product__value
	&__value {
		
	}
	// .price-product__currency
	&__currency {}
}
.color-product {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	// .color-product__title
	&__title {
		font-size: rem(20);
	}
	// .color-product__values
	&__values {
		display: inline-flex;

	}
	// .color-product__value
	&__value {
		margin-right: 20px;
		border: 1px solid rgba(0, 0, 0, 0.523);
		//border-radius: 50px;
		width: 30px;
		height: 30px;
		//background: #000;
		&_biege {
			background: rgb(241, 241, 205);
		}
		&_red {
			background: rgb(197, 0, 0);
		}
		&_black {
			background: black;
		}
		&_milky {
			background: rgb(255, 253, 244);
		}
		&_orange {
			background: rgb(255, 123, 0);
		}
		// .color-product__value_active
		&_active {
			outline: 3px solid rgb(152, 152, 152);
		}
	}
}
.size-product {
	font-size: rem(20);
	display: grid;
	gap: 15px;
	// .size-product__title
	&__title {
		
	}
	// .size-product__buttons
	&__buttons {
		position: relative;
		display: flex;
		gap: 15px;
	}
	// .size-product__input
	&__input {
		//display: none;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		//visibility: hidden;
		
	}
	// .size-product__label
	&__label {
		border: 1px solid black;
		padding: 3px 0;
		width: 40px;
		text-align: center;
		cursor: pointer;
		@media (any-hover: hover){
			&:hover{
				transition: all 0.3s linear 0s;
				background: rgba(0, 0, 0, 0.116);
				outline: 1px solid  rgba(0, 0, 0, 0.427);
			}
		}
	}
	&__input:checked +
	&__label {
		background: rgb(0, 0, 0);
		color: #fff;
	}
}

.quantity {
	margin-right: 52px;
	border:  transparent;
	display: flex;
	flex-direction: column;
	font-size: rem(20);
	// .quantity__title
	&__title {
	}
	// .quantity__counter
	&__counter {
		display: flex;
	}
	// .quantity__button
	&__button {
		font-size: rem(16);
		border: 1px solid black;
		background: #000;
		color: #fff;
		// .quantity__button_minus
		&_minus {}
		// .quantity__button_plus
		&_plus {}
	}
	// .quantity__value
	&__value {
		width: 80px;
		text-align: center;
		border-top: 1px solid black;
		border-bottom: 1px solid black;
	}
}

.table-sizes {
}
.care {
}
.swiper-button-prev,
	.swiper-button-next {
		color: rgb(255, 255, 255);
		width: 40px;
		height: 50px;
		background: rgba(0, 0, 0, 0.384);
	}
	.swiper-button-prev {
		left: 0;
	}
	.swiper-button-next {
		right: 0;
	}